{% extends 'base.html.twig' %}

{% block body %}
    <!--container-->
    <div class="container" {{ stimulus_controller('action') }}>
        <div class="d-flex flex-row justify-content-between px-3 py-4 align-items-center">
            {#<i class="fas fa-chevron-left"></i>#}
            <div></div>
            <span>Salon - Home Cinema</span>
            <div></div>
            {#<i class="fas fa-ellipsis-h"></i>#}
        </div>

        <div class="d-flex flex-row justify-content-center">
            <div class="menu-grid">
                <div class="d-flex flex-column align-items-center" {{ stimulus_action('action', 'sendAction', 'click')}} data-command="PO" >
                    <i class="fas fa-power-off" {{ stimulus_target('action', 'power')}}></i>
                    <span class="label">Power</span>
                </div>
                <div class="d-flex flex-column align-items-center" {{ stimulus_action('action', 'sendAction', 'click')}} data-command="49FN" >
                    <i class="fas fa-gamepad" {{ stimulus_target('action', 'game')}}></i>
                    <span class="label">PS4</span>
                </div>
                <div class="d-flex flex-column align-items-center" {{ stimulus_action('action', 'sendAction', 'click')}} data-command="04FN" >
                    <i class="fas fa-tv" {{ stimulus_target('action', 'dvd')}}></i>
                    <span class="label">DVD</span>
                </div>
                {#<div class="d-flex flex-column align-items-center">
                    <i class="fas fa-bars"></i>
                    <span class="label">Menu</span>
                </div>
                <div class="d-flex flex-column align-items-center">
                    <i class="fas fa-circle"></i>
                    <span class="label">Numeric</span>
                </div>
                <div class="d-flex flex-column align-items-center">
                    <i class="fas fa-arrow-left"></i>
                    <span class="label">Back</span>
                </div>#}
            </div>
        </div>

        <div class="d-flex flex-row mt-4 justify-content-between px-2">
    {#
            <div class="d-flex flex-column rounded-bg py-3 px-4 justify-content-center align-items-center">
                <i class="fas fa-chevron-up py-3 control-icon"></i>
                <span class="label py-3">Channel</span>
                <i class="fas fa-chevron-down py-3 control-icon"></i>
            </div>
    #}
            <div></div>
            <div class="d-flex flex-column rounded-bg py-3 px-4 justify-content-center align-items-center">
                <i class="fas fa-plus py-3 control-icon" {{ stimulus_action('action', 'sendAction', 'click') }} data-command="VU"></i>
                <span class="label py-3">Volume</span>
                <i class="fas fa-minus py-3 control-icon" {{ stimulus_action('action', 'sendAction', 'click') }} data-command="VD"></i>
            </div>
            <div></div>
    {#
            <div class="d-flex flex-column align-items-center">
                <div class="d-flex flex-row grey-bg justify-content-center align-items-center">
                    <i class="fas fa-home p-3 home-icon"></i>
                </div>
                <span class="label">Home</span>
            </div>
    #}
        </div>

    {#    <div class="mt-5 pt-4 position-relative d-flex flex-row justify-content-center align-items-center">
            <div class="circle ok-inner position-absolute">
                <span>OK</span>
            </div>
            <div class="circle ok-outer position-absolute"></div>
            <i class="fas fa-caret-right position-absolute control-icon right"></i>
            <i class="fas fa-caret-right position-absolute control-icon bottom"></i>
            <i class="fas fa-caret-right position-absolute control-icon left"></i>
            <i class="fas fa-caret-right position-absolute control-icon top"></i>
        </div>#}

        <div class="d-flex flex-row justify-content-between mt-5 pt-4 px-3">
    {#        <div class="d-flex flex-row grey-bg">
                <i class="fas fa-ellipsis-h p-3 control-icon"></i>
            </div>#}
            <div></div>
            <div class="d-flex flex-row grey-bg">
                <i class="fas fa-volume-mute p-3 control-icon" {{ stimulus_action('action', 'sendAction', 'click') }} data-command="MF" ></i>
            </div>
            <div></div>
        </div>
    </div>
{% endblock %}
